/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#blauw{
    width: 900px;
    height: 240px;
    background-color:lightskyblue;
}
#zwart {
    width: 900px;
    height: 100px;
    background-color:black;
    border: 10px;
    border-color: white;
    border-top-style: solid;
    border-bottom-style: solid;

}
#blauw2{
    width: 900px;
    height:240px;
    background-color: lightskyblue;
}

